*filter

# You may add your own rules here as desired

# Allow Cloudflare to communicate with the web service ports.
$CLOUDFLARE_RULES

# Drop all traffic that goes through to ports 80 and 443 by default.
-A INPUT -p TCP -m multiport --dports 80,443 -j DROP

# Icseon
COMMIT